@use "../vars" as *;

.zvg-fse-single {
	&__meta {
		gap: var(--wp--preset--spacing--30);
		color: $color-muted;
	}

	.wp-block-post-terms a,
	&__nav a {
		padding-block: 14px;
		transition: opacity $transition-fast;

		&:where(:hover, :focus) {
			text-decoration: none;
			opacity: 0.8;
		}
	}

	&__nav a {
		font-family: var(--wp--preset--font-family--mono);
		font-size: var(--wp--preset--font-size--small);
		font-weight: 600;
		text-decoration: none;
	}
}

:where(.zvg-fse-single__nav) {
	.post-navigation-link-previous a::before,
	.post-navigation-link-next a::after {
		display: inline-block;
		transition: transform $transition-fast;
	}

	.post-navigation-link-previous a::before {
		margin-right: 0.35em;
		content: "\2190";
	}

	.post-navigation-link-next a::after {
		margin-left: 0.35em;
		content: "\2192";
	}

	.post-navigation-link-previous a:where(:hover, :focus)::before {
		transform: translateX(-2px);
	}

	.post-navigation-link-next a:where(:hover, :focus)::after {
		transform: translateX(2px);
	}
}
