@use '../../../assets/css/vars' as *;

.zvg-acf-section.zvg-acf-hero {
	padding-block-start: 96px;
	padding-block-end: 64px;
	border-top: 0;
}

.zvg-acf-hero {
	&__title {
		max-width: 820px;
	}

	&__byline {
		color: $color-muted;

		strong {
			font-weight: 400;
			color: $color-text;
		}
	}

	&__buttons {
		display: flex;
		flex-wrap: wrap;
		gap: 16px;
		margin-top: 40px;
	}
}
